/*========= Table Of Contents =========
1. General css
2. Header
3. homepage.html
4. GiftDay.html
======================================*/

/*======================================== 
            1.General css 
========================================*/
*{
    padding: 0;
    margin: 0;
}
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Microsoft YaHei';
	font-size:16px;
	color: #676a81;
	background: #fff;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}
a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #6a708e;
	font-size:16px;
	padding:0;
}
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#43485c;
    font-size: 16px;
	font-family: 'Microsoft YaHei';
	text-transform: capitalize;
}
p {
	margin: 0;
	line-height:1.8;
	color:rgb(7, 7, 100);
	font-size:16px;
	font-family: 'Microsoft YaHei';
	letter-spacing: 1px;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
	
}
select,input,textarea,button{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;}

.section-header {
    position: relative;
    margin-bottom: 10px;
}

.section-header p {
    color: #719a0a;
    margin-bottom: 5px;
    position: relative;
    font-size: 20px;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 45px;
	font-weight: 700;
    color: #454545;
    align-content: center;
    
}

.phone{
	display: flex;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-image: url(../img/icon/phone.png);
}
html,body{
    height: 100%;
	position: relative;
}
[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}
.fix{position: relative;clear: both;}
/*========== General css End ============*/

/*======================================== 
            2.Header
========================================*/
.top-area {
	width: 100%;
    position: relative;
    z-index: 9999;
}
@media (min-width: 1024px){}
nav.navbar.bootsnav.no-background {
    background-color: rgba(255, 255, 255, 0.767);
    border: none;
}

nav.navbar.bootsnav {
    background-color: #fff;
    border-bottom: transparent;
    box-shadow: 0 3px 15px rgba(0,0,0,.2);
}

/*.navbar-brand*/
.navbar-header a.navbar-brand,.navbar-header a.navbar-brand:hover,.navbar-header a.navbar-brand:focus {
    display: inline-block;
    color: rgb(196, 70, 70);
    font-size: 28px;
    font-weight: 600;
    padding: 33px 0px 57px;
    text-transform: uppercase;
}
/*.navbar-brand*/
img{
	display: inline-block;
	height: 30px;
	margin-right: 20px;

}
/*.nav li*/
nav.navbar.bootsnav ul.nav > li > a {
    font-size: 16px;
    font-weight: 50px;
    text-transform:uppercase;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
nav.navbar.bootsnav ul.nav > li > a {padding: 35px 20px;}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a:focus,nav.navbar.bootsnav ul.nav > li.active>a{color: rgb(196, 70, 70);}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    content: "";
}
nav.navbar.bootsnav ul.nav > li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}
.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li > a {color:#6a708e;}
.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li > a:hover,.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li > a:focus,.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li.active>a{color: #d92cf9;}
/*.nav li*/



/*.menu-ui-design*/
.menu-ui-design{overflow-y:scroll;height: 350px;}
.menu-ui-design::-webkit-scrollbar {
    width:5px;
}
.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}
.menu-ui-design::-webkit-scrollbar-thumb {
  background-color: rgb(196, 70, 70);
}
/*.menu-ui-design*/

/*.navbar-toggle */
nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: transparent;
    border: 1px solid rgb(196, 70, 70);
    padding: 10px;
    top: 0;
}
nav.navbar.bootsnav .navbar-toggle i{color: rgb(196, 70, 70);}
/*.navbar-toggle */



/*========== Header End ================*/
/*======================================== 
            3.homepage.html 
========================================*/
/*hero-image*/
.hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background:url(../img/hero_image_2.jpg)no-repeat;
    background-size:cover;
	background-position-x: right;
	background-position-y: bottom;
	height: 705px;
}
.title{
	margin-left: 100px;
}
.title h1{
	color: green;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 20px;
}
.title h1 span{
	color: rgb(196, 70, 70);
	font-size: 55px;
	font-weight: 300;
	letter-spacing: 4px;
	margin-bottom: 20px;
}
.text{
	margin: 2px 15px;
}
.text p{
	color: rgb(7, 7, 100);
	font-size: 15px;
	letter-spacing: 1.5px;
}
.text span{
	color:  rgb(196, 70, 70);
	font-size: larger;
	letter-spacing: 1.5px;
}
.text h1{
	color: rgb(7, 7, 100);
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 20px;
	margin-top: 15px;
	text-align: left;

}
/*menu*/
input{
	width:100px;
	height: 70px;
	border:1px;
	border-color:rgb(7, 7, 100);
	border-radius:30%;
	border-style: solid;
	cursor:pointer;
	margin-left: 20%;
	margin-top: 15px;
	margin-right: 15px;
	background-color: rgba(255, 255, 255, 0.842);
	color:rgb(7, 7, 100);
	
}
input:hover{
	color: rgb(196, 70, 70);
	transform: scale(1.1);
	box-shadow: 5px 5px 1px black;

}
/*-------------------------------------
        	Portfolio
--------------------------------------*/
.portfolio {
    padding:  0 0 80px;
	border:  1px solid rgba(255, 255, 255, 0.048);
}
.portfolio .portfolio-details{
    background-color: rgba(5, 88, 61, 0.356);
}

.portfolio-content {padding-top: 70px;}

/* ---- .item ---- */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}
.isotope .item {
    position:relative;
	overflow:hidden;
    margin-bottom: 30px;
}
/*.item img*/
.isotope .item img{
    width:100%;
    height:100%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.isotope .item:hover  img{
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    transform:scale(1.5);
}/*.item img*/

/*.isotope-overlay*/
.isotope-overlay{
    position:absolute;
    height:100%;
    width:100%;
    background:rgba(4, 56, 71, 0.397);
    display:flex;
    align-items:center;
    text-transform: uppercase;
    justify-content:center;
    flex-direction:row;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.isotope-overlay a {
    display: inline-block;
    color: #fff;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	font-family: arial;
}
.isotope .item:hover .isotope-overlay{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    top:0;
}/*.isotope-overlay*/

*/
/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.contact .contact-information {
    min-height: 130px;
    margin: 0 0 30px 0;
    padding: 30px 15px 0 15px;
    background: rgba(0, 0, 0, .04);
}

.contact .contact-info {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact .contact-icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbaf32;
    border-radius: 50px;
}

.contact .contact-icon i {
    font-size: 18px;
    color: #ffffff;
}

.contact .contact-text {
    position: relative;
    width: calc(100% - 50px);
    display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.contact .contact-text h3 {
    font-size: 24px;
    font-weight: 700;
    color: #719a0a;
}
.contact .contact-text p{
	margin: 0;
	font-size: 16px;
    color: #454545;
    line-height: 60pt;
}

.contact .contact-social a {
    margin-right: 10px;
    font-size: 18px;
    color: #fbaf32;
    line-height: 60pt;
}

.contact .contact-social a:hover {
    color: #719a0a;
}


.text h1,h2,h3{
	color:  white;
	font-size: 16px;
	position:absolute;
}
.text h2{
	margin-left: 400px;
}
.text h3{
	margin-left: 700px;
}

.phone{
	display: flex;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-image: url(../img/icon/phone.png);
}
html,body{
    height: 100%;
	position: relative;
}
[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}
.fix{position: relative;clear: both;}
/*========== homepage.html End ============*/

/*======================================== 
            4.GiftDay.html 
========================================*/
.filter {
	position: fixed;
	left: 0;
	top: 0;
	width: 270px;
	background: #ffffff;
	padding: 30px 34px 30px 30px;
	-webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
	z-index: 99;
	padding-top: 80px;
	margin-top: 190px;
}

.ov-hid {
	overflow: hidden;
	padding-left: 270px;
}

.filter__title h5 {
	font-size: 20px;
	color: #323232;
	font-weight: 600;
}

.filter__title h5 i {
	margin-right: 5px;
}

.filter__search {
	background: #ffffff;
	margin-bottom: 12px;
}

.filter__search input {
	width: 100%;
	color: #323232;
	font-size: 15px;
	border: none;
	height: 46px;
	border-bottom: 2px solid #f7f7f7;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.filter__select {
	border-bottom: 2px solid #f7f7f7;
	margin-bottom: 18px;
}

.filter__select .nice-select {
	width: 100%;
	border: none;
	border-radius: 0;
	height: 50px;
	line-height: 52px;
	float: none;
	padding-left: 0;
}

.filter__select .nice-select span {
	font-size: 15px;
	color: #323232;
}

.filter__select .nice-select .list {
	border-radius: 0;
	margin-top: 0;
	width: 100%;
}

.filter__select .nice-select:after {
	border-right: 7px solid #183456;
	border-top: 7px solid transparent;
	height: 6px;
	margin-top: 0;
	right: 0;
	width: 10px;
	border-bottom: none;
	top: 40%;
}

.filter__btns button {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	background: #f03250;
	border: none;
	border-radius: 2px;
	width: 100%;
	padding: 14px 0 12px;
}

.filter__btns button:hover{
	color: rgb(196, 70, 70);
	transform: scale(1.1);
	box-shadow: 5px 5px 1px black;
}


/*---------------------
  Listing
-----------------------*/
.listing__text__top {
	overflow: hidden;
	margin-bottom: 25px;
}

.listing__text__top__left {
	float: left;
}

.listing__text__top__left h5 {
	font-size: 20px;
	color: #323232;
	font-weight: 600;
	display: inline-block;
	margin-right: 15px;
}

.listing {
	width: 100%;
	padding: 0 40px;
	padding-top: 140px;
	float: left;
}
.listing_list {
	column-count: 2;
	column-gap: 20px;
}
.listing .gift-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -30px;
}

.listing .gift-list .listing__item {
	max-width: calc(120% - 30px);
	float: left;
	margin-right: 30px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	width: 100%;
	height: 100%;
}

.listing__item {
	-webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

.listing__item__pic {
	height: 260px;
	position: relative;
}

.listing__item__pic img {
	height: 200px;
	width: 200px;
	top: calc(50%-25px);
	left: calc(50%-25px);
	position: absolute;
	margin: 60px 20px;
	overflow: hidden;
}

.listing__item__pic__tag {
	font-size: 12px;
	color: #ffffff;
	background: #f03250;
	font-weight: 600;
	display: inline-block;
	padding: 5px 15px 5px 10px;
	border-radius: 2px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.listing__item__text {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 40px;
}

.listing__item__text__inside h1 {
	font-size: 20px;
	color: #323232;
	font-weight: 600;
	margin-bottom: 6px;
}

.listing__item__text__rating {
	overflow: hidden;
	margin-bottom: 15px;
}

.listing__item__text__rating h3 {
	font-size: 15px;
	color: #f03250;
	font-weight: 600;
	float: right;
}

.listing__item__text__info {
	padding: 10px 30px;
	border-top: 1px solid #e1e1e1;
	overflow: hidden;
	margin-left: -30px;
	margin-right: -30px;
}

.listing__item__text__info__left {
	float: left;
}

.listing__item__text__info__left img {
	display: inline-block;
	margin-right: 10px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
}

.listing__item__text__info__left span{
	font-size: 14px;
	color: #323232;
	font-weight: 600;
}





/*========== GiftDay.html End ============*/
